/**
	Estilo do Copyright
	Code by Thzin Mine-Programador, 2022
*/

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: #fcfcfc;
}
footer{
    position: absolute;
    background-color: #111;
    height: auto;
    width: 193.3vh;
    font-family:'Open Sans';
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h5{
    color: #fcfcfc;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    color: #fcfcfc;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    pointer-events: none;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-botton{
    background-color: #000;
    width: 193.3vh;
    padding: 20px 0;
    text-align: center;
}
.footer-botton p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-botton span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/**------------------------------------Code by Thzin Mine-Programador, 2022----------------------------------------------*/